/* tablists */

.tabs {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    min-height: 300px;
}

.tablist {
    display: flex;
    flex-direction: column;
}

.tablist button {
    border: 0;
    border-radius: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: all ease-in-out 600ms;
    white-space: nowrap;
    background-color: var(--button-bg-color);
}

.tablist button:hover {
    border-left-color: var(--button-scd-hover-color);
}

.tablist button[aria-selected="true"]{
    border-left: solid 3px var(--main-color);
    background-color: var(--button-scd-hover-color);
}

.tablist button[aria-selected="true"]:hover{
    border-left-color: var(--main-color);
}

.panels h1 {
    margin-bottom: 0;
    color: var(--text-color);
}

.panels h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--snd-text-color);
}

.panels h5 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--snd-text-color);
    display: flex;
    flex-direction: row;
}

.panels a {
    color: var(--main-color);
}

.panels .date {
    color: var(--main-color);
}

.panels .date + div p {
    text-align: justify;
    color: var(--text-color);
}

.panels ul li {
    color: var(--text-color);
}

.panels ul li small {
    color: var(--main-color);
    margin-left: 0.5em;
}

.hidden {
    opacity: 0 !important;
    height: 0 !important;
    overflow: hidden;
}

/* experience */

#experience #panel-11, #experience #panel-12, #experience #panel-13, #experience #panel-14 {
    margin-left: 5%;
    height: auto;
    opacity: 1;
    transition: opacity ease-in-out 500ms;
}

/* formation */

#formation {
    margin-bottom: 0;
}

#formation #panel-1, #formation #panel-2, #formation #panel-3 {
    margin-left: 5%;
    height: auto;
    opacity: 1;
    transition: opacity ease-in-out 500ms;
}

/* download curriculum */

#download {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0 0 0;
    margin: 0 auto;
    color: var(--text-color);
    width: 75%;
}

#download p {
    text-align: center;
}

#download a {
    text-decoration: none;
}

@media screen and (min-width: 769px) {

    .tablist button {
        border-left: solid 3px var(--button-bg-color);
    }
}

@media screen and (max-width: 768px) {

    .tabs {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        min-height: 300px;
    }

    .tablist {
        margin-top: 10%;
        margin-bottom: 3%;
    }

    .tablist button:hover {
        border-left-color: transparent;
        border-top-color: var(--button-scd-hover-color);
        border-bottom-color: var(--button-scd-hover-color);
    }

    .tablist button[aria-selected="true"]{
        border-left: none;
        border-top: solid 3px var(--main-color);
        border-bottom: solid 3px var(--main-color);
        background-color: var(--button-scd-hover-color);
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .tablist button[aria-selected="true"]:hover{
        border-left-color: transparent;
        border-top-color: var(--main-color);
        border-bottom-color: var(--main-color);
    }

    /* experience */

    #experience #panel-11, #experience #panel-12, #experience #panel-13, #experience #panel-14 {
        margin-left: 0%;
    }

    /* formation */

    #formation #panel-1, #formation #panel-2, #formation #panel-3 {
        margin-left: 0%;
    }
}