@import url('https://fonts.googleapis.com/css?family=Open+Sans:500');

/* theme */

:root {
    --main-color: #FF4C29;
    --bg-color: #082032;
    --snd-bg-color: #2C394B;
    --title-color: #465262;
    --text-color: white;
    --snd-text-color: #667580;
    --button-bg-color: #1E2431;
    --button-hover-color: #BC402B;
    --button-scd-hover-color: #4B2C30;
    --contact-border-color: #FF4C29;
    --logo-filter: none;
    --big-logo-filter: blur(10px) brightness(0.75);
    --main-scroll-button-color: rgba(255,255,255, .25);
    --overlay-color: rgba(0,0,0,0.5);
}

[theme="light"] {
    --main-color: #FF7D63;
    --bg-color: white;
    --snd-bg-color: #A2ABB2;
    --text-color: black;
    --button-bg-color: #FFEFEC;
    --button-hover-color: #FF5C3C;
    --button-scd-hover-color: #FFCEC5;
    --contact-border-color: #E84525;
    --logo-filter: brightness(1) invert(1);
    --big-logo-filter: blur(10px) brightness(0.75) invert(1);
    --main-scroll-button-color: rgba(0,0,0, .35);
    --overlay-color: rgba(0,0,0,0.1);
}

/* basics */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/* global */

section + section {
    margin-top: 8% !important;
}

section {
    margin: 0;
    padding: 2% 0;
}

section h3 {
    font-weight: 400;
    font-size: 150px;
    text-transform: uppercase;
    color: var(--title-color);
    user-select: none;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; /* Internet Explorer/Edge */
    -o-user-select: none;
    user-select: none;
    overflow: hidden;
}

button {
    align-items: center;
    background-clip: padding-box;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: .25rem;
    box-sizing: border-box;
    color: var(--main-color);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    transition: all ease-in-out 300ms;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: var(--button-scd-hover-color);
}

button:focus {
    outline: 0;
}

/* scroll-to-top */

#top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 98;
}

#top a {
    height: 39px;
    width: 37px;
    text-align: center;
    background: var(--main-scroll-button-color);
    display: block;
    border-radius: 3px;
}

#top a i{
    color: var(--text-color);
    font-size: 25px;
    line-height: 39px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    section h3 {
        font-size: 100px;
    }
}

@media screen and (max-width: 480px) {

    section {
        padding: 5% 0;
    }

    section h3 {
        font-size: 60px;
    }
}

@media screen and (max-width: 320px) {

    section h3 {
        font-size: 50px;
    }
}

@media screen and (max-width: 280px) {

    section h3 {
        font-size: 40px;
    }
}
