@import 'base.css';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  margin: 0 auto;
}

@keyframes blink {
  to {
    visibility: hidden
  }
}
.animate-1s-blink {
  animation: blink 1s steps(2, start) infinite;
}

.grey-container {
  background-color: var(--color-text);
}
.grey-text {
  color: var(--color-text);
}
