@import 'base.css';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  margin: 0 auto;
}

@keyframes blink {
  to {
    visibility: hidden
  }
}
.animate-1s-blink {
  animation: blink 1s steps(2, start) infinite;
}

.grey-container {
  background-color: var(--color-text);
}
.grey-text {
  color: var(--color-text);
}

body.responsive-menu {
  overflow: hidden;
}

.clickable:hover {
  cursor: pointer !important;
}

section {
  padding: 5rem;
  width: 100%;
}
h2 {
  font-size: 4rem;
  color: white;
  text-align: center;
}
h3 {
  font-size: 2rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  section {
    padding: 2rem;
  }

  h2 {
    text-align: center;
  }
}

@media (max-width: 400px) {
  section {
    padding: 1rem;
  }
}

.item {
  background-color: #2F2516;
  border: solid 3px transparent;
  border-radius: 10px;
  padding: 2rem;
  color: white;
}
.item, .item .link-open, .item img {
  transition: all 0.5s ease-in-out;
}
.item .link-open {
  visibility: hidden;
  fill: orange;
  opacity: 0;
}
.item .image-container {
  align-self: center;
  margin: 5%;
}
.item img {
  max-width: 100%;
  max-height: 350px;
  border-radius: 10px;
  box-shadow: 0 0 25px 25px rgba(93, 63, 17, 0.375);
}
.item p {
  text-align: justify;
}
.item:hover {
  background-color: #423214;
  border-color: #573E11;
}
.item:hover .link-open {
  visibility: initial;
  opacity: 1;
}
.item:hover img{
  box-shadow: 0 0 25px 25px rgba(93, 63, 17, 0.75);
}
.item.active {
  border-color: #573E11;
}

.grid-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  gap: 2rem;
  display: grid;
  justify-content: center;
}